/MATRICES/Practica matrices/nbproject/private/
/MATRICES/Practica matrices/build/
/MATRICES/Matrices1/nbproject/private/
/MATRICES/Matrices1/build/
/MATRICES/Matrices2/nbproject/private/
/MATRICES/Matrices2/build/
/MATRICES/Matrices 3/nbproject/private/
/MATRICES/Matrices 3/build/
/MATRICES/Matrices4/nbproject/private/
/MATRICES/Matrices4/build/
